:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 5rem;
  position: relative;
  z-index: 2;
  padding-bottom: 15rem;
}
