:host {
  display: block;
  max-width: 110rem;
  margin: 0 auto;
  text-align: end;
}

.pokemon-header {
  padding-top: 10rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pokemon-header__title__text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20rem;
  color: #131313;
  font-weight: bold;
}

.pokemon-header__title__subtitle {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-align: end;
  font-size: 6rem;
}

.pokemon-header__image {
  width: 25rem;
}
