<div class="pokemon-search" >
  <form class="pokemon-search__form" [formGroup]="form">
    <input formControlName="searchField" type="text" class="pokemon-search__form__input" placeholder="Search here by Pokémon name" #key (keyup)="search(key.value)">
    <button type="button" class="pokemon-search__form__button" [disabled]="!key.value ? true : false" (click)="clear()">
      <img *ngIf="!key.value" class="pokemon-search__form__button__icon disabled" src="assets/imgs/search.png" alt="Search icon" aria-hidden>
      <img *ngIf="key.value" class="pokemon-search__form__button__icon" src="assets/imgs/cross.png" alt="Cross icon" aria-hidden>
    </button>
  </form>
</div>
